@import "tailwindcss";
@font-face {
  font-family: pixelated;
  src: url("./font.ttf");
}
@theme{
  --color-orange: #FF7D22;
  --color-green: #2FAD49;
}
#root,body,html{
  height:100%;
  padding:0;
  margin:0;
}
body{
  font-family: pixelated;
}
.scrollable {
  --sb-track-color: transparent;
  --sb-thumb-color: #a2a19952;
  --sb-size: 16px;
}

.scrollable::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  .scrollable {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}