@import "tailwindcss";
@font-face {
  font-family: pixelated;
  src: url("./font.ttf");
}
@theme{
  --color-orange: #FF7D22;
  --color-green: #2FAD49;
}
#root,body,html{
  height:100%;
  padding:0;
  margin:0;
}
body{
  font-family: pixelated;
}